@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos customizados para o carrossel */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* Melhoria para scroll suave em touch devices */
.scroll-smooth {
  -webkit-overflow-scrolling: touch;
}
